@font-face{
  font-family: 'BebasNeue-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/bebasneuebold.woff') format('woff'),
  url('../fonts/bebasneuebold.woff2') format('woff2');
}
@font-face{
  font-family: 'BebasNeue-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/bebasneueregular.woff') format('woff'),
  url('../fonts/bebasneueregular.woff2') format('woff2');
}
@font-face{
  font-family: 'Exo2-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Exo2-SemiBold.woff') format('woff'),
  url('../fonts/Exo2-SemiBold.woff2') format('woff2');
}
@font-face{
  font-family: 'IBMPlexSans-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
  url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
}
@font-face{
  font-family: 'IBMPlexSans-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
  url('../fonts/IBMPlexSans-Medium.woff2') format('woff2');
}
@font-face{
  font-family: 'IBMPlexSans-MediumItalic';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/IBMPlexSans-MediumItalic.woff') format('woff'),
  url('../fonts/IBMPlexSans-MediumItalic.woff2') format('woff2');
}
@font-face{
  font-family: 'IBMPlexSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
  url('../fonts/IBMPlexSans-Regular.woff2') format('woff2');
}
